<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        #c1, #c2, #c3, #c4{
            display: block;
        }
    </style>
    <script th:inline="javascript">
    </script>
</head>

<div style="flex-direction: row; font-family: 'Arial Narrow'; width: 100%;">
    <img style="margin-left: 45%" th:src="@{/img/parts/geometria.jpg}">
    <ul>
        <li onclick="prepareGeometriaZawieszeniaJSON()" id="c0"> Czy pojazd sam skręca?
            <br/>
            <input  type="radio" name="0" value="2"> Tak
            <input  type="radio" name="0" value="1"> Nie
            <input  type="radio" name="0" value="0" checked> Nie sprawdzone
        </li>
        <li onclick="prepareGeometriaZawieszeniaJSON()" id="c1">
            Czy koła są skierowane na wprost?
            <br />
            <input type="radio" name="1"  value="2" onclick=""> Tak
            <input type="radio" name="1" value="1"> Nie
            <input  type="radio" name="1" value="0" checked> Nie sprawdzone
        </li>
        <li onclick="prepareGeometriaZawieszeniaJSON()" id="c2">
            Czy kąty pochyleń kół są prawidłowe?
            <br />
            <input type="radio" name="2"  value="2" onclick=""> Tak
            <input type="radio" name="2" value="1"> Nie
            <input  type="radio" name="2" value="0" checked> Nie sprawdzone
        </li>
        <li onclick="prepareGeometriaZawieszeniaJSON()" id="c3">
            Czy jest pisk opon podczas skręcania?
            <br />
            <input type="radio" name="3"  value="2" onclick=""> Tak
            <input type="radio" name="3" value="1"> Nie
            <input  type="radio" name="3" value="0" checked> Nie sprawdzone
        </li>

    </ul>
</div>
</html>
