<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
    #c1, #c2, #c3, #c4{
        display: block;
    }
</style>
    <script th:inline="javascript">
    </script>
</head>

<div style="flex-direction: row; font-family: 'Arial Narrow'; width: 100%;">
    <img style="margin-left: 45%" th:src="@{/img/parts/cofania.jpg}">
    <ul>
        <li onclick="prepareCofaniaJSON()" id="c0"> Czy światła cofania działają?
            <br/>
            <input  type="radio" name="0" value="2"> Tak
            <input  type="radio" name="0" value="1"> Nie
            <input  type="radio" name="0" value="0" checked> Nie sprawdzone
        </li>
        <li onclick="prepareCofaniaJSON()" id="c1">
            Czy bezpiecznik jest przepalony?
            <br />
            <input type="radio" name="1"  value="2" onclick=""> Tak
            <input type="radio" name="1" value="1"> Nie
            <input  type="radio" name="1" value="0" checked> Nie sprawdzone
        </li>
        <li onclick="prepareCofaniaJSON()" id="c2">
            Czy żarówka jest przepalona?
            <br />
            <input type="radio" name="2"  value="2"> Tak
            <input  type="radio" name="2" value="1"> Nie
            <input  type="radio" name="2" value="0" checked> Nie sprawdzone
        </li>
        <li onclick="prepareCofaniaJSON()" id="c3">
            Czy przewód jest uszkodzony?
            <br />
            <input type="radio" name="3"  value="2"> Tak
            <input type="radio" name="3" value="1"> Nie
            <input  type="radio" name="3" value="0" checked> Nie sprawdzone
        </li>
        <li onclick="prepareCofaniaJSON()" id="c4">
            Czy czujnik biegu cofania działa?
            <br />
            <input type="radio" name="4" value="2"> Tak
            <input type="radio" name="4" value="1"> Nie
            <input type="radio" name="4" value="0" checked> Nie sprawdzone
        </li>
    </ul>
</div>
</html>
