<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Droolscar</title>
</head>
<body>
    <div id = "indexContainer">
        <div class="angry-animate">
            <a href="main">
                <img th:src="@{/img/autko.jpg}" style="
                height: 600px;
                width: 100%;
                margin-left: 45%;
                margin-top: 20%;
                background-repeat: no-repeat;">
            </a>
        </div>
    </div>
</body>
</html>
