<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:inline="javascript" th:src="@{/js/functions.js}">
    </script>
    <script  th:inline="javascript" th:src="@{/js/json_handlers.js}">
    </script>
    <meta charset="UTF-8">
    <link rel = "stylesheet"
          th:href = "@{/css/menuStyle.css}" />
    <title>DroolsCar</title>
</head>
<body>
    <div id="mainContainer">
        <div id="logo">
        </div>
        <div id="menu">
            <a class="menuTabs" href="/"> Strona Główna </a>
            <a class="menuTabs" href="/main"> Diagnostyka </a>
            <a class="menuTabs" href="/main"> Informacje </a>
        </div>
        <div id="resultContainer">
            <div style="margin: auto; text-align: center; font-family: 'Agency FB'; font-size: 22px; padding: 10px;">
                Zdiagnozuj samochód
            </div>
            <div class="row">
                <div class = "column" style = "flex:1 "id="style-5">
                    <div style="text-align: center; font-family: 'Agency FB'; font-size: 20px;">
                        Jaki masz problem?
                    <br/>
                        <div style="display: flex; flex: 1; flex-direction: column; text-align: left; margin-top: 15px; justify-content: space-between">
                            <ul>
                                <li><a href="" class="link1">Problemy ze swiatlami</a></li>
                                    <ul>
                                        <li><a href="javascript:changeImageTo('migacze')" class="link1">Swiatla Kierunku</a></li>
                                        <li><a href="javascript:changeImageTo('cofania')" class="link1">Swiatla Cofania</a></li>
                                        <li><a href="javascript:changeImageTo('stop')" class="link1">Swiatla Stopu</a></li>
                                        <li><a href="javascript:changeImageTo('swiatla')" class="link1">Swiatla Drogowe</a></li>
                                    </ul>
                                <li><a href="" class="link1">Problemy z hamulcami i oponami</a></li>
                                    <ul>
                                        <li><a href="javascript:changeImageTo('klockihamulcowe')" class="link1">Klocki Hamulcowe</a></li>
                                        <li><a href="javascript:changeImageTo('pompahamulcowa')" class="link1">Pompa Hamulcowa</a></li>
                                        <li><a href="javascript:changeImageTo('tarczehamulcowe')" class="link1">Tarcze Hamulcowe</a></li>
                                        <li><a href="javascript:changeImageTo('tloczkihamulcowe')" class="link1">Tloczki Hamulcowe</a></li>
                                        <li><a href="javascript:changeImageTo('opony')" class="link1">Opony</a></li>
                                    </ul>
                                <li><a href="" class="link1">Problemy ze skrzynia biegow</a></li>
                                    <ul>
                                        <li><a href="javascript:changeImageTo('automatyczna')" class="link1">Automatyczna</a></li>
                                        <li><a href="javascript:changeImageTo('manualna')" class="link1">Manualna</a></li>
                                    </ul>
                                <li><a href="" class="link1">Problemy z prowadzeniem</a></li>
                                    <ul>
                                        <li><a href="javascript:changeImageTo('ukladkierowniczy')" class="link1">Uklad Kierowniczy</a></li>
                                        <li><a href="javascript:changeImageTo('amortyzatory')" class="link1">Amortyzatory</a></li>
                                        <li><a href="javascript:changeImageTo('geometriazawieszenia')" class="link1">Geometria Zawieszenia</a></li>
                                        <li><a href="javascript:changeImageTo('stabilizatory')" class="link1">Stabilizatory</a></li>
                                        <li><a href="javascript:changeImageTo('Wahacze')" class="link1">Wahacze</a></li>
                                    </ul>
                                <li><a href="" class="link1">Problemy z silinkiem</a></li>
                                <ul>
                                    <li><a href="javascript:changeImageTo('czujniki')" class="link1">Czujniki</a></li>
                                    <li><a href="javascript:changeImageTo('cewka')" class="link1">Cewka</a></li>
                                    <li><a href="javascript:changeImageTo('przepustnica')" class="link1">Przepustnica</a></li>
                                    <li><a href="javascript:changeImageTo('turbosprezarka')" class="link1">Turbosprezarka</a></li>
                                </ul>
                                <li><a href="" class="link1">Problemy z układem wydechowym</a></li>
                                <ul>
                                    <li><a href="javascript:changeImageTo('katalizator')" class="link1">Katalizator</a></li>
                                    <li><a href="javascript:changeImageTo('kolektor')" class="link1">Kolektor</a></li>
                                    <li><a href="javascript:changeImageTo('sondalambda')" class="link1">Sonda Lambda</a></li>
                                    <li><a href="javascript:changeImageTo('wydech')" class="link1">Wydech</a></li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class = "column" style="border-style: none" id="style-5">
                    <div id ="textContainer">
                    <h1 style = "magin-left: 30%; font-family: 'Agency FB'">Witamy w firmie DroolsCar!</h1>
                        <p>
                            Przeprowadź diagnostykę samochodu. Program diagnostyczny wskaże przyczynę wystąpienia usterki i instrukcję naprawy.
                        </p>
                    </div>
                </div>
            </div>
            <div id="containerDiv" onclick="closePopUp()">
                RESULT TEXTS
            </div>
        </div>
    </div>

</body>
</html>
